[tool.poetry]
name = "nshutils"
version = "0.10.0"
description = ""
authors = ["Nima Shoghi <nimashoghi@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
numpy = "*"
jaxtyping = "*"
typing-extensions = "*"
beartype = "*"
pysnooper = { version = "*", optional = true }


[tool.poetry.group.dev.dependencies]
pyright = "^1.1.373"
ruff = "^0.5.4"
ipykernel = "^6.29.5"
ipywidgets = "^8.1.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pyright]
typeCheckingMode = "standard"
deprecateTypingAliases = true
strictListInference = true
strictDictionaryInference = true
strictSetInference = true
reportPrivateImportUsage = false

[tool.ruff.lint]
ignore = ["F722", "F821", "E731", "E741"]

[tool.poetry.extras]
extra = ["pysnooper"]
